body, html{
  height:100%;
}
body{
  margin: 0px;
  background:linear-gradient(to bottom right, #F1B66A, #5C3C51);
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
/*  border:10px solid red;*/
  border-radius:10px;
  position:absolute;
  box-shadow: 
}


.solid-dancer{
  /*border:20px solid blue;*/
  height: 80px;
  width: 80px;
  box-shadow: 0 0 20px 20px;
/*  background-color: #0DAAB9;*/
  border-radius:80px;
  opacity: 0.65;
}
.clear-dancer{
/*  border:30px solid yellow;*/
  height: 200px;
  width: 200px;
  background-color: #e6e6e6;
  box-shadow: 0 0 20px 5px #e6e6e6;
  border-radius:200px;
  opacity: 0.3;
}

.solid-dancer + .clear-dancer {
  opacity: 1;
}

.conductor{
  /*border:20px solid blue;*/
  height: 80px;
  width: 80px;
  //box-shadow: 0 0 20px 20px;
/*  background-color: #0DAAB9;*/
  border-radius:80px;
  opacity: 0.9;
}

.sky{
  height: 100%;
  width: 100%;
  position: fixed;
  background: linear-gradient(to bottom, hsl(180, 100%, 35%), hsl(180, 100%, 70%));
} 

.grass{
  height: 28%;
  width: 100%;
  bottom: 0;
  left: 0;
  position: fixed;
  background: linear-gradient(to top, hsl(120, 100%, 10%), hsl(120, 100%, 40%));
}

.grass-background{
  height: 22%;
  background-color: #33cc33;
}

.grass-midground{
  height: 20%;
  background-color: #009933;
}

.grass-foreground{
  height: 14%;
  background-color: #003300;
}

