body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#000000;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
  box-shadow: 
}

.solid-dancer{
  border:20px solid blue;
  border-radius:20px;
}

.clear-dancer{
  border:30px solid yellow;
  border-radius:30px;
}

.sky{
  height: 72%;
  width: 100%;
  position: fixed;
  background: linear-gradient(to bottom, hsl(180, 100%, 35%), hsl(180, 100%, 70%));
} 

.grass{
  height: 28%;
  width: 100%;
  bottom: 0;
  left: 0;
  position: fixed;
  background: linear-gradient(to top, hsl(120, 100%, 10%), hsl(120, 100%, 40%));
}

.grass-background{
  height: 22%;
  background-color: #33cc33;
}

.grass-midground{
  height: 20%;
  background-color: #009933;
}

.grass-foreground{
  height: 14%;
  background-color: #003300;
}

